<a href="https://colab.research.google.com/github/spursbyte/ML-STARTERS/blob/main/Wine_quality_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("winequality-red.csv")

In [2]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [12]:
df.count

<bound method DataFrame.count of       fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               5.7             1.130         0.09  ...       0.48      9.8        1
1               5.6             0.540         0.04  ...       0.58     11.4        2
2               5.2             0.480         0.04  ...       0.62     12.2        4
3               8.7             0.420         0.45  ...       0.77     12.0        3
4               6.3             0.470         0.00  ...       0.48     12.3        3
...             ...               ...          ...  ...        ...      ...      ...
1594           15.5             0.645         0.49  ...       0.74     11.1        2
1595            7.0             0.690         0.00  ...       0.60      9.7        3
1596            8.1             0.825         0.24  ...       0.77     10.7        3
1597            6.8             0.360         0.32  ...       0.55     12.8        4
1598           10.4             0.260         0.48  ...       0.87     10.9        3

[1599 rows x 12 columns]>

In [3]:
# a mapping dictionary that maps the quality values from 0 to 5
quality_mapping = {
    3: 0,
    4: 1,
    5: 2,
    6: 3,
    7: 4,
    8: 5
}

# you can use the map function of pandas with
# any dictionary to convert the values in a given
# column to values in the dictionary
df.loc[:, "quality"] = df.quality.map(quality_mapping)

In [4]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        2
1            7.8              0.88         0.00  ...       0.68      9.8        2
2            7.8              0.76         0.04  ...       0.65      9.8        2
3           11.2              0.28         0.56  ...       0.58      9.8        3
4            7.4              0.70         0.00  ...       0.56      9.4        2

[5 rows x 12 columns]

In [20]:
# use sample with frac=1 to shuffle the dataframe
# we reset the indices since they change after
# shuffling the dataframe
df = df.sample(frac=1).reset_index(drop=True)

# top 1000 rows are selected
# for training
df_train = df.head(1000)

# bottom 599 values are selected
# for testing/validation
df_test = df.tail(599)

In [21]:
from sklearn import tree
from sklearn import metrics

# initialize decision tree classifier class
# with a max_depth of 3
clf = tree.DecisionTreeClassifier(max_depth=3)

# choose the columns you want to train on
# these are the features for the model
cols = ['fixed acidity', 
        'volatile acidity', 
        'citric acid',
        'residual sugar',
        'chlorides',
        'free sulfur dioxide',
        'total sulfur dioxide',
        'density',
        'pH',
        'sulphates',
        'alcohol']

In [23]:
# train the model on the provided features
# and mapped quality from before
clf.fit(df_train[cols], df_train.quality)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
# generate predictions on the training set
train_predictions = clf.predict(df_train[cols])

# generate predictions on the test set
test_predictions = clf.predict(df_test[cols])

# calculate the accuracy of predictions on
# training data set
train_accuracy = metrics.accuracy_score(
    df_train.quality, train_predictions
)

# calculate the accuracy of predictions on
# test data set
test_accuracy = metrics.accuracy_score(
    df_test.quality, test_predictions
)